# Token do bot Discord
DISCORD_TOKEN=cole_seu_token_aqui

# Application ID do bot
CLIENT_ID=cole_seu_client_id_aqui

# ID do servidor para registrar comandos mais rápido
GUILD_ID=cole_o_id_do_servidor
